@{
    ViewData["Title"] = "Creador Derecho de Autor";
}
<h1>@ViewData["PROGRAMA PARA GESTION DE VEHICULOS"]</h1>

<h1>Jose Manuel Bautista Carmona.</h1>
<p>Matricula 06-0519.</p>
<p>Lenguaje de Programación II.</p>
<p>Profesor Ambiorix Liriano.</p>
